.swiper {
  height: 99%;
  border-radius: 3px;
  overflow-y: unset;
  padding: 0 12px 0;
  margin-left: -16px;
  margin-right: -16px;

  @media (min-width:481 / 16em) and (orientation: landscape)  {
    padding: 0 24px 0;
    margin-left: -32px;
    margin-right: -32px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #2f2756;
}

.swiper-pagination-bullet {
  border-radius: 0;
}

.swiper-slide {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0 32px;

   @media (orientation: landscape)  {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
   }
}