.swiper {
  height: 99%;
  border-radius: 3px;
  overflow-y: unset;
  padding: 0 12px 0;
  margin-left: -16px;
  margin-right: -16px;

  @media (min-width:37.5rem) {
    padding: 0 24px 0;
    margin-left: -32px;
    margin-right: -32px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #2f2756;
}

.swiper-pagination-bullet {
  border-radius: 0;
}

.swiper-slide {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}